@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;0,800;1,200;1,300;1,600&display=swap");

/*  */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bodyFonts: "Poppins", sans-serif;
  --bodyColor: #676767;
  --lightColor: #fff;
  --darkColor: #2e2e2e;
  --lightDrak: #F555556;
  --colorAccent: #59CDCC;
  --sectionBackground: #fef5f5;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: var(--bodyFonts);
  font-weight: 400;
  color: var(--bodyColor);
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  font: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* header section styles */
#header {
  padding-top: 2rem;
}
.container {
  margin: 0 auto;
  padding: 0 1.2rem;
}
.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-block: 0.8rem;
}
.navBar .brandArea .brandLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.brandArea .brandText {
  font-size: 2.5rem;
  color: #f44336;
  background-image: -webkit-linear-gradient(
    0deg,
    #dd2727 10%,
    #002125b4 69%,
    #008d8dda 21%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: ivory;
  text-shadow: 2px 4px 5px rgba(155, 153, 153, 0.603);
}
.brandLogoImg {
  height: 6rem;
  width: auto;
}
.svg-icon {
  width: 3.3rem;
  height: 2.8rem;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #0c0c0c;
}

.svg-icon circle {
  stroke: #0e0f0f;
  stroke-width: 20;
}

.menuToggle ion-icon {
  font-size: 2.6rem;
  color: var(--bodyColor);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.25s;
}
.menuToggle {
  width: 5.6rem;
  height: 4rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;
  line-height: 1;
  position: relative;
  display: flex;
  align-items: center;
}
.closeMenu {
  opacity: 0;
}
.openMenu {
  transition-delay: 0.25s;
}
.showMenu .closeMenu {
  opacity: 1;
  transition-delay: 0.25s;
}
.showMenu .openMenu {
  opacity: 0;
  transition-delay: none;
}
.menuCollapse {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s;
}
.menuList {
  display: flex;
  flex-direction: column;
}
.menuCollapse .listItem {
  text-align: center;
  margin: 1.2rem 1.6rem;
}
.listItemLink {
  display: inline-block;

  font-weight: 700;
  line-height: 1.6rem;
  padding: 0.8rem 0;
  color: var(--lightDrak);
  transition: color 0.25s;
}
.listItemLink:hover,
.listItemLink:focus {
  color: var(--colorAccent);
}
.currentLink {
  color: var(--colorAccent);
}
.searchArea {
  margin-top: 0.8rem;
}
.searchForm {
  position: relative;
}
.formIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 0;
}
.searchIcon {
  left: 0.8rem;
}
.searchInput {
  width: 28.8rem;
  height: 4.8rem;
  padding: 1.2rem 6rem 1.2rem 4.4rem;
  background-color: var(--lightColor);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.04);
  border-radius: 0.8rem;
}
.searchInput::placeholder {
  font-weight: 500;
  line-height: 1.4;
  color: var(--darkColor);
  transition: all 0.2s ease-in-out;
}
.searchInput:focus::placeholder {
  opacity: 0;
}
.cartIcon {
  right: 2rem;
}
.cartIcon > img{
  height:40px;
   width:auto;
}
.cartIcon::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -1.6rem;
  width: 2px;
  height: 2.7rem;
  background-color: #f2f2f2;
}
.cartIcon::after {
  content: "2";
  position: absolute;
  top: -2.6rem;
  right: -2.4rem;
  width: 2.8rem;
  height: 2.8rem;
  background-color: var(--colorAccent);
  border-radius: 50%;
  box-shadow: -0.6rem 0.9rem 2.4rem -0.6rem rgba(238, 67, 67, 0.68);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--lightColor);
  margin: 0.8rem;
}
/* menu section styles */
.menu {
  padding: 2rem 0 3rem;
}
.textArea {
  text-align: center;
}
.tagArea {
  background-color: #ff5c5c;
  border-radius: 2.3rem;
  display: inline-flex;
  align-items: center;
  margin-bottom: 2rem;
  width: fit-content;
  padding: 1.2rem 1.6rem;
}
.tagLine {
  font-weight: 500;
  line-height: 1.6rem;
  color: var(--colorAccent);
}
.carrotImage {
  width: 2.6rem;
  height: 2.4rem;
  margin: 0;
}
.title {
  color: var(--darkColor);
  font-weight: 700;
}
.mainTitle {
  font-size: 3rem;
  line-height: 5.8rem;
  letter-spacing: -0.01em;
}
.textSpan {
  color: var(--colorAccent);
  letter-spacing: -0.05em;
  font-weight: 500;
}
.textContent {
  line-height: 3rem;
  letter-spacing: 0.005em;
  margin-block: 2.2rem;
}
.buttons {
  margin: 5rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2.4rem;
}
.button {
  display: inline-block;
  text-align: center;
  background-color: var(--colorAccent);
  color: var(--lightColor);
  padding: 1.4rem;
  border: 1px solid transparent;
  border-radius: 0.8rem;
  transition: background-color 0.25s;
}
.menu .button {
  font-size: 1.2rem;
}
.menu .transparentButton {
  padding: 0;
}
.button:not(.transparentButton):hover,
.button:not(.transparentButton):focus {
  background-color: var(--lightColor);
  color: var(--colorAccent);
  border-color: var(--colorAccent);
}
.transparentButton {
  background-color: transparent;
  display: flex;
  align-items: center;
  color: var(--darkColor);
}
.playButton {
  border-radius: 50%;
  margin-right: 1.2rem;
  box-shadow: 20px 20px 60px #6b6767, -20px -20px 60px #7a7777;
}
.transparentButton img {
  transition: transform 0.25s ease-in-out;
}
.transparentButton:hover img,
.transparentButton:focus img {
  transform: scale(1.4);
}

/* about us styling below */
.ourMenu{
  padding: 10rem 0;
  background-color: var(--sectionBackground);
}
.ourMenuInfo{
  text-align: center;
}
.ourMenuTagline{
  display: inline-block;
  font-weight: 500;
  color: var(--colorAccent);
  line-height: 2.4rem;
  margin-bottom: 0.8rem;
}
.ourMenuTitle{
  font-size: 2.4rem;
  line-height: 4.4rem;
  margin-bottom: 2.2rem;
}
.cardArea{
  margin: 7rem 0 2rem;
  gap: 2rem;
}
.card{
  padding: 3rem 2.2rem;
  background-color: var(--lightColor);
  border-radius: 1.2rem;
}
.cardHeader{
  display: flex;
}
.cardHeader img{
  height: 15rem;
  margin: -2.5rem auto;
}
.cardBody{
  text-align: center;
  margin: 6rem 0 2rem;
}
.titleOfCard{
  font-size: 1.8rem;
  line-height: 3.3rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.cardBody p{
  line-height: 2.5rem;
}

/* services */
.services{
  padding: 5rem 0;
}
section:not(.ourMenu) .servicesTextArea, .farmServicesTextArea{
  margin: 8rem 0 2rem;
}
.services .ourMenuTagline{
  color: #03a66b;
}
section:not(.ourMenu) .button{
  margin: 5rem 0 2rem;
}
section:not(.ourMenu) .button:hover{
  color: white;
  background-color: rgba(255, 166, 0, 0.644);
}

/* farm services styling */
.farmServices{
  padding: 0 0 10rem;
}
.farmServices .ourMenuTagline{
  color: #f9ba45;
}
.farmServices .button{
  background-color: #f9ba45;
  color: white;
}
.farmServices .button:hover{
  background-color: white;
  color: #f9ba45;
}
/* food services styling */
.foodServices{
  padding: 0 0 10rem;
}
.foodServices .ourMenuTagline{
  color: #f94545;
}
.foodServices .button{
  background-color: #f94545;
  color: white;
}
.foodServices .button:hover{
  background-color: white;
  color: #f94545;
}

/* App download styling */
.ourAppDownload .ourMenuTagline{
  color: rgb(3, 3, 185);
}
.ourAppDownload{
  padding: 5rem 0;
}
.ourAppDownloadContainer .servicesImgArea img{
  margin: 0 auto;
}
.ourAppDownload .buttons{
  margin: 0;
}
.ourAppDownload .button{
  display: flex;
  align-items: center;
  flex-direction: column;
  column-gap: 1rem;
  padding-block: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.ourAppDownload .button img{
  margin: -2.5rem 0;
}
/* footer styles */
#footer{
  text-align: center;
  padding: 5rem 0 3rem;
}
.companyInfo{
  margin-block: 2rem;
}
.companyDescription{
  margin: 2.5rem 0 1rem;
  line-height: 3rem;
}
#footer .brandLogo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.footer .brandArea .brandText {
  font-size: 2.5rem;
  color: #f44336;
  background-image: -webkit-linear-gradient(
    0deg,
    #dd2727 10%,
    #002125b4 69%,
    #008d8dda 21%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: ivory;
  text-shadow: 2px 4px 5px rgba(155, 153, 153, 0.603);
}
.footerTitle{
  line-height: 2rem;
}
.footerMid{
  margin: 3rem 0 1rem;
}