@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;0,800;1,200;1,300;1,600&display=swap");

/*  */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bodyFonts: "Poppins", sans-serif;
  --bodyColor: #676767;
  --lightColor: #fff;
  --darkColor: #2e2e2e;
  --lightDrak: #F555556;
  --colorAccent: #eda600;
  --sectionBackground: #fef5f5;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: var(--bodyFonts);
  font-weight: 400;
  color: var(--bodyColor);
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  font: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* header section styles */
#header {
  padding-top: 2rem;
}
.container {
  margin: 0 auto;
  padding: 0 1.2rem;
}
.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-block: 0.8rem;
}
.navBar .brandArea .brandLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.brandArea .brandText {
  font-size: 3rem;
  color: #f44336;
  background-image: -webkit-linear-gradient(
    0deg,
    #f44336 30%,
    #1e6fe8 39%,
    #c43333 91%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: ivory;
  text-shadow: 2px 4px 5px rgb(184, 133, 133);
}
.brandLogoImg {
  height: 6rem;
  width: auto;
}
.svg-icon {
  width: 3.3rem;
  height: 2.8rem;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #0c0c0c;
}

.svg-icon circle {
  stroke: #0e0f0f;
  stroke-width: 20;
}

.menuToggle ion-icon {
  font-size: 2.6rem;
  color: var(--bodyColor);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.25s;
}
.menuToggle {
  width: 5.6rem;
  height: 4rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;
  line-height: 1;
  position: relative;
  display: flex;
  align-items: center;
}
.closeMenu {
  opacity: 0;
}
.openMenu {
  transition-delay: 0.25s;
}
.showMenu .closeMenu {
  opacity: 1;
  transition-delay: 0.25s;
}
.showMenu .openMenu {
  opacity: 0;
  transition-delay: none;
}
.menuCollapse {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* max-height: 0;
    overflow: hidden; */
  transition: max-height 0.35s;
}
.menuList {
  display: flex;
  flex-direction: column;
}
.menuCollapse .listItem {
  text-align: center;
  margin: 1.2rem 1.6rem;
}
.listItemLink {
  display: inline-block;
  font-weight: 500;
  line-height: 1.6rem;
  padding: 0.8rem 0;
  color: var(--lightDrak);
  transition: color 0.25s;
}
.listItemLink:hover,
.listItemLink:focus {
  color: var(--colorAccent);
}
.currentLink {
  color: var(--colorAccent);
}
.searchArea {
  margin-top: 0.8rem;
}
.searchForm {
  position: relative;
}
.formIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 0;
}
/* menu section styles */
